<p>
  <a class="license" rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" title="CC BY 4.0" style="border-width:0; vertical-align: middle;" width="80" height="15" src="http://i.creativecommons.org/l/by/4.0/80x15.png"/></a> -
  Copyright &copy; {{ site.time | date: "%Y" }} - <a href="{{ site.authorsite }}" rel="author">{{ site.author }}</a> -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span> -
  <span class="credit">Hosted on <a href="http://pages.github.com/">GitHub Pages</a></span>
</p>
